
@import url('https://fonts.googleapis.com/css2?family=Sigmar&display=swap');
*{padding:0;
margin:0;
box-sizing: border-box;}
html,body{
width: 100%;
height: 100%;
}
.container{
width: 100%;
height: 100%;
background-image: url('../img/bg_all.png');
background-repeat: no-repeat;
background-size: cover;
background-position: center;
display: flex;
justify-content: center;
align-items: center
}
.ctn{
width: 1000px;
background-color: rgba(255, 255, 255, 0.518);
border-radius: 10px;
border: 2px solid rgb(255, 255, 255);
overflow: hidden;
display:flex;
}
.ctn .ct-left{
width: 50%;
background-image: url("../img/BG_left.png");
background-repeat: no-repeat;
background-size: cover;
background-position: center;
height: 600px;
position: relative;
}
.ct-left .logo_top{
display: flex;
justify-content: space-between;
padding: 10px;
}
.logo_top img{
width: 60px;
height: fit-content;
}
.img_2{
width: 135px !important;;
}
.logo_center{
width: 80%;
position: absolute;
top: 13%;
left: 50%;
transform: translateX(-50%);
animation: chuyendong 5s ease-in-out infinite;
transition: 0.5s;
}
.logo_center img{
width: 100%;
}
@keyframes chuyendong {
0% {
margin-left: 0%;
}
20% {
margin-left: -3%;
margin-top: -2%;
}
40%{
margin-left: 3%;
margin-top: 2%;
}
60%{
margin-left: -3%;
margin-top: -2%;
}
80%{
margin-left: 3%;
margin-top: -4%;
}
100%{
margin-left: 0%;
margin-top: 0%;
}
}
.logo_bottom{
width: 100%;
height: 83%;
padding: 20px;
display: flex;
position: absolute;
flex-direction: column;
justify-content:end;
}
.logo_bottom img{width: 100%;}
.ct-right{
width: 50%;
padding: 10px;
}
.ct-right h3{
font-size: 30px;
font-family: 'Sigmar', cursive;
color: #cd1f40;
text-align: center;
margin-top: 20px;

}
.ct-right form{width: 80%;display: flex;align-items: center;margin: auto;flex-direction: column;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}
form .f{width: 100%;display: flex;flex-direction:column;margin-top: 10px;}
form .f label{
font-size: 16px;
font-weight: 500;
margin-bottom: 5px;
margin-left: 5px;

}
input[type="text"],input[type="number"]{
outline: none;
border:1px solid gray;
padding: 5px 10px;
background-color: rgba(255, 255, 255, 0.517);
border-radius: 10px;

}
input[type="radio"]{
margin-left: 10px;
margin-right: 5px;
}
.f_lc{width: 100%;display: flex;flex-wrap: wrap;font-size: 16px;}
.e-f{
width: 50%;
}
button[type="submit"]{
color:white;
background-color:#cd1f40 ;
border: 0px;
font-size: 16px;
font-weight: bold;
padding: 5px 20px;
border-radius: 20px;
margin-top: 20px;
cursor: pointer;
transition: 0.5s;
}
button[type="submit"]:hover{
background:white;
color: #cd1f40;
border: 1px solid gray;
}

@media screen  and (min-width:1000px){
    .mobile{
        display: none;
    }
}



@media screen  and (max-width:1000px) {
    .desktop{
        display: none;
    }
    .container{
        width: 100%;
        height: 100%;
        padding: 50px;
        display: flex;
        background-repeat: repeat-y;
        background-size: auto;
        background-position: top;
    }
    .mobile{
        width: 400px;
        background-image: url("../img/BG_left.png");
        border-radius: 10px;
        border: 1px solid #cd1f3f5d;
        overflow: hidden;
        display: block;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }
    .mb_top{
        position: relative;
        width: 100%;
    }
    .mb_top .logo_top{
        display: flex;
        justify-content: space-between;
        padding: 10px;
    }
    .ct-right{
        margin-top: -20px;
        margin: auto;
        width: 90%;
        position: relative;
        border:0px;
        background: #ffffff78;
        border: 1px solid white;
        border-radius: 10px;
        margin-bottom: 20px;
    }
    .ct-right h3{
        -webkit-text-stroke-width: 0.5px;
        -webkit-text-stroke-color: white;
        margin-top: 257px;
    }
    .logo_center_mb{
        width: 60%;
        margin: auto;
        position: absolute;
        top: 11%;
        left: 49%;
        transform: translateX(-50%);
    }
    .logo_center_mb img{
        width: 100%;
        animation: chuyenmb 7s ease-in-out infinite;
        position: relative;
    }
    @keyframes chuyenmb {
        0% {
        transform: translate(0%,0%);
        }
        20% {
        transform: translate(-3%,-2%);
       
        }
        40%{
        margin-left: 3%;
        margin-top: 2%;
        }
        60%{
        margin-left: -3%;
        margin-top: -2%;
        }
        80%{
        margin-left: 3%;
        margin-top: -4%;
        }
        100%{
        margin-left: 0%;
        margin-top: 0%;
        }
        }
        form{
            width: 90%!important;
            margin-top: 0;
        }
        .f{
            border:0px;
        }
        .f_lc label{
            font-size:12px ;
        }
        form .f label{
            font-size: 15px;
        }
        .e-trangtri{
            width: 100%;
            position: absolute;
            z-index: 1;
            top: 13%;
        }
        .e-trangtri img{
            width: 80px;
            position: absolute;
            animation: eChuyen 6s ease-in-out infinite;
            display: block;
        }
        @keyframes eChuyen {
            0%{
                transform: translate(0%,0%);
            }
            30%{
                transform: translate(-1%,1%);
            }
            60%{
                transform: translate(2%,-2%);
            }
            90%{
                transform: translate(-3%,4%);
            }
            100%{
                transform: translate(0%,0%);
            }
        }
        .e-tt1{
            top: -16px;
            left: 26%;
        }
        .e-tt2{
            top: 34px;
            left: 6%;
        }
        .e-tt3{
            width: 112px!important;
            top: 102px;
            left: -3%;
        }
        .e-tt4{
            top: 105px;
            left: 71%;
            width: 108px!important;
        }
        .e-tt5{
            top: -21px;
            left: 48%;
        }
        .e-tt6{
            top: 7px;
            left: 76%;
        }
        .logo_bottom{
            
            height: auto;
                        
            display: block;
                        
            left: 50%;
                        
            top: 25%;
                        
            transform: translateX(-50%);
        }
        .logo_bottom img{
            width: 100%;
        }

        
}

