/* // font  */
@font-face {
    font-family: loveF;
    src: url(../font/AMPLE\ SOFT\ BOLD.ttf);
  }





*{padding:0;margin:0;
font-family: loveF};
body{
    width: 100vw;
    height: auto;
    background-color: #fda08e;
}
.container{
    width: 375px;
    margin:0px auto;
    background: white;
    overflow-x: hidden;
}
.page1{
    width: 100%;
    overflow: hidden;

}
.top{
    /* background: #fda08e; */
    position: relative;
}
img{
    width: 100%;
}
.p1-icon{
    position: absolute;
    top:2%;
}
.nut{
    width: 50%;
    margin: auto;
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}
.heart{
    width: 20px;
    position: absolute;
    bottom: 15%;
    transform: translateX(-50%) scale(1);
    left: 50%;
    z-index: 3;
    animation: dichuyen 3s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;

}
@keyframes dichuyen {
    0%{
        opacity: 0;
        transform: translateX(-50%) scale(0.5);
        bottom: 20%;
    }
    100%{
        opacity: 1;
        transform: translateX(-50%) scale(1.2);
        bottom: 25%;
    }
    
}

.foot{
    background-color: white;
    position: relative;
}
.p1-icon-b{
    width: 80%;
    margin: 10px auto;
}
.p_01,.p_02{
    position: absolute;
    bottom: 0;
}
.p_01{
    width: 23%;
    bottom: -10%;
}
.p_02{
    width: 42%;
    bottom: -21%;
    right: -7%;
}
/* // page 1  */



